* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* css for navbar  */

.appHeader .navbar-dark .navbar-nav .nav-link {
	color: #ffff;
	text-transform: uppercase;
}

.appHeader .navbar-brand {
	width: 120px;
	display: inline-block;
}

.appHeader .navbar-dark .navbar-nav .active>.nav-link,
.appHeader .navbar-dark .navbar-nav .nav-link.active,
.appHeader .navbar-dark .navbar-nav .nav-link.show,
.appHeader .navbar-dark .navbar-nav .show>.nav-link {
	color: orange !important;
}


/* .navbar-brand img {
	width: 120px; 
 } */

.brandSlider .carousel-item {
	height: 450px;
}

.brandSlider .carousel-item img {
	height: 100%;
	object-fit: cover;
}

.brandSlider .carousel-item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.brandSlider .carousel-item img.d-block.w-100 {
	height: 100%;
	object-fit: cover;
}

.brandSlider .carousel-item:nth-child(1) {
	background-image: url('https://images.unsplash.com/photo-1488085061387-422e29b40080?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}

.brandSlider .carousel-item:nth-child(2) {
	background-image: url('https://images.unsplash.com/photo-1527631746610-bca00a040d60?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHRyYXZlbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}

.brandSlider .carousel-item:nth-child(3) {
	background-image: url('https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dHJhdmVsaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
}

.brandSlider .carousel-caption {
	bottom: auto;
	top: 20%;
}


/* homeHeading css */

.homeHeading, .video {
    background-image: url('https://images.unsplash.com/37/QAdTsSj8TOOWzlyLn3Rg_14248396556_aefcd9a926_o.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    position: relative;
}

.homeHeading::before,
.video::before {
	content: '';
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.homeHeading .row {
	z-index: 10;
}

/* Video */

.video {
	background-image: url("https://images.unsplash.com/photo-1575367604117-4df5494d1a84?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fHRyYXZlbGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
}


/* services page css */

.faq .card {
	background-color: transparent;
	margin-bottom: 10px;
}


/* .btn-link {
	color: #ffff;
	text-decoration: none;
	width: 100%;
	text-align: left;
}
 */



.footer {
	background-color: black;
	font-size: 18px;
}


/* responsive css */

@media all and (max-width:768px) {
	.brandSlider .carousel-caption h2{
		font-size: 1.4rem;
	}
}

